<div class='row'>
  <%= link_to 'Add a Photo', new_photo_path if logged_in?(:admin)%>
</div>
<div class="section">
    <div class="col">
<% @home_photo.each do |image| %>
  
      <%= link_to (image_tag image.main_image, class: "img-responsive"), photo_path(image) %>
    
<% end %>
</div>
  </div>