<% @home_photo.each do |image| %>
  <div class="row">
    <div class="col">
      <a href='<%= image.main_image %>' data-lightbox="my-images">
      <%= image_tag image.main_image, class: "img-responsive" %>
      </a>
   </div>
  </div>
<% end %>