<div class="container">
  <div class="section">
    <div class="col">
     
        <% @home_photo.each do |image| %>
      
        <a href='<%= image.main_image %>' data-lightbox="my-images">
        <%= image_tag image.main_image, class: "img-responsive" %>
        </a>
        
        <% end %>
     
    </div>
  </div>
</div>