<div class="bg-img">
<div class="container">
  <%= render 'shared/nav' %> 
    <div class="gallery-header">
     
        <%= image_tag("https://s3.amazonaws.com/argyle-homes/uploads/Site-images/Banner.jpg", size: "1020x250")  %>

        <hr class="gallery-hr">
      
    </div>
  <%= render 'page_selector' %>
</div>
</div>